
@{
    ViewData["Title"] = "UsuarioCreado";
}

<h1>El usuario fue creado satisfactoriamente</h1>

<div class="d-flex align-items-center justify-content-center">
    <a class="text-primary fw-bold ms-2" asp-action="LogIn" asp-controller="Home">Iniciar Sesión</a>
</div>
