
<div class="container-fluid">
	<div class="container-fluid">
		<div class="card">
			<div class="card-body" style="background-color: #D4EBFFAB">
				<div style="display: flex; justify-content: center; align-items: center; ">
					<img src="~/Imagenes/logo.jpeg" alt="AnimalDataLinkApp" />
				</div>
				<br />
				<br />
				<div>
					<a asp-action="AnimalCreate" asp-controller="Cuidador" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" style="background-color: #60A6E7AB; text-decoration: none;">Ingresar Animales</a>
					<a asp-action="RegistrarSalud" asp-controller="Cuidador" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" style="background-color: #60A6E7AB; text-decoration: none;">Registro Salud</a>
				</div>
			</div>
		</div>
	</div>
</div>